/* normalize */
body { margin: 0; }

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* room */
.room {
  display: flex;
  justify-content: center;
  margin: 0 8px;
}

.room .entrance {
	order: 2;
	flex: 0 1 230px;
}

.room .remote-streams {
	order: 1;
	flex: 1 1 auto;
	background-color: #f6fbff;
}

@media sereen and (max-width:730px) {
	.room {
		display: block;
		width: 100%;
		width: initial;
		margin: 0 0;
	}

	.room .entrance {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.entrance .local-stream {
		order: 3;
		flex: 0 1 230px;
	}

	.entrance .naming-forms {
		order: 1;
		flex: 1 1 auto;
	}

	.entrance .sendMessages{
		order:2;
		flex: 1 1 auto;
	}

	.room .remote-streams {
		width: 100%;
	}
}

.entrance .local-stream {
  background-color: #000;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}

.naming-forms > h3 {
  font-size:12pt;
  margin:0;
}

.entrance .remote-streams > video {
  width: 50%;
}

.entrance .sendMessages {
  display: none;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}
