/* normalize */
body { margin: 0; }

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* room */
.room {
  display: flex;
  justify-content: center;
  margin: 0 8px;
}

.room .entrance {
	order: 1;
	flex: 0 0 230px;
	max-height: 100vh;
	margin: 0 0;
}

.room .remote-streams {
	order: 2;
	flex: 1 1 auto;
	background-color: #f6fbff;
}

@media screen and (max-width:730px) {
	.room {
		display: flex;
		flex-flow: column nowrap;
		flex-content: center;

		width: 100%;
		width: initial;
		margin: 0 0;
	}

	.room .entrance {
		order: 2;

		display: flex;
		justify-content: center;
	}

	.entrance .local-stream {
		order: 3;
		flex: 0 1 230px;
	}

	.entrance .naming-forms {
		order: 1;
		flex: 1 1 auto;
	}

	.entrance .sendMessages{
		order:2;
		flex: 1 1 auto;
	}

	.room .remote-streams {
		order: 1;

		width: 100%;
	}
}

.entrance .local-stream {
  background-color: #000;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}

.naming-forms > h3 {
  font-size:12pt;
  margin:0 0;
}

.naming-forms .nameBotton {
	width: 70px;
	display: inline-block;
	padding: 0 0.5em;
	text-decoration: none;
	background-color: #668ad8;
	color: #FFF;
	border-bottom: solid 3px #627295;
	border-radius: 2px;
}
.naming-forms .nameBotton:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	border-bottom: none;
}

.entrance .actBotton {
	width: 150px;
	display: inline-block;
	padding: 0 0.5em;
	text-decoration: none;
	background-color: #668ad8;
	color: #FFF;
	border-bottom: solid 3px #627295;
	border-radius: 2px;
}
.entrance .actBotton:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	border-bottom: none;
}
.remote-streams > video {
  max-width: 50%;
  border: 1px;
  border-color:#FFF;
}

.entrance .sendMessages {
  display: none;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.room .messages {
  background-color: #eee;
  max-height: 200px;
  padding: 8px;
  margin-top: 0;
  overflow: auto;
}
